@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("bootstrap-icons.min.css");

@font-face {
	font-family: "Twemoji";
	src: url(/twemoji/Twemoji.Mozilla.ttf);
	unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+1F900-1F9FF, U+2600-26FF;
}

:root {
	--toastify-color-dark: #374151 !important;
}

::-webkit-scrollbar {
	width: 16px;
	height: 16px;
	border-radius: 69420px;
}
::-webkit-scrollbar-track {
	width: 8px;
	height: 8px;
	background: #232d3b;
}
::-webkit-scrollbar-thumb {
	background: #a6adb9;
	border-radius: 69420px;
	border: #232d3b 4px solid;
}
::-webkit-scrollbar-thumb:hover {
	background: #c6cedb;
}

* {
	font-family: "Twemoji", "Quicksand", sans-serif;
	font-weight: 500;
}

code,
code * {
	font-family: "Twemoji", Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
}

/* REACT MODAL CUSTOM CSS */
.ReactModalPortal:has(.ReactModal__Content--after-open) {
	z-index: 20 !important;
	position: fixed !important;
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
	background-color: #0008 !important;
}
.ReactModal__Overlay {
	background: #0000 !important;
	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
	justify-content: center !important;
}
.ReactModal__Content {
	width: max-content !important;
	max-height: calc(100vh - 10rem) !important;
	background: #181f2a !important;
	border: 1px #232d3b solid !important;
	position: revert !important;
	border-radius: 0.75rem !important;
	color: #fff !important;
	padding: 0 !important;
}
